html {
  font-size: 10px;
  font-family: sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-family: billabong, "billabongregular";
  text-align: center;
  font-weight: 100;
  font-size: 5rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  color: black;
  text-decoration: none;
}

h1 a {
  color: black;
  text-decoration: none;
}

h1 a:focus {
  outline: 0;
}

@font-face {
  font-family: "billabongregular";
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff")
      format("woff"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf")
      format("truetype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: offwhite;
}

.page-container {
  display: flex;
  justify-content: center;
}

.purchase-summary-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 400px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .purchase-summary-container {
    min-width: 100%;
    border: none;
  }
}

.detail-item {
  display: flex;
  justify-content: space-between;
}

.detail-price {
  font-weight: 600;
}

.color-red {
  color: #f00;
}

.tooltip {
  position: relative;
}

.tooltip-trigger {
  display: inline-block;
  text-decoration: underline;
  width: 100%;
  cursor: help;
}

.tooltip-bubble {
  min-width: 120px;
  max-width: 210px;
  position: absolute;
  z-index: 10;
}

.tooltip-bubble::after,
.tooltip-bubble::before {
  content: " ";
  position: absolute;
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  padding-top: 9px;
  transform: translateX(-50%);
}

.tooltip-bottom::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fafafa;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom::before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #bbb;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-message {
  background: #fafafa;
  border-radius: 3px;
  color: black;
  font-size: 12px;
  line-height: 1.4;
  padding: 0.75em;
  text-align: center;
  width: 200px;
  border: 1px solid #bbb;
}
